* {
    padding: 100;
    margin: 100;
    display: block;
    background-color: #020202;
    position: relative;
  }
  canvas {
    display: block;
    margin: 0 auto;
  }

.startButton {
  position: relative;
  display: block;
  margin: 0 auto;
  top: 30px;
  width: 130px;
  height: 40px;
  color: #fbd6fd;
  background: transparent;
  border-radius: 0px;
  outline: transparent;
  font-family: 'VT323', monospace;
  font-size: 30px;
  opacity: 0.6;
}
.startButton:hover {
  animation-name: bright;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
@keyframes bright {
  100% {
    opacity: 1;
  }
}
.disco{
    animation: flash 0.8s infinite;
}

@keyframes flash {
    50% {
      opacity: 0.6;
    } 100% {
      opacity: 1;
    }
}
